<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Safer Spaces</title>
    @* <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'> *@
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap/js/bootstrap.min.js">
    <link rel="stylesheet" href="~/css/styles.css">
    
</head>
<body>
   @* navbar created using bootstrap documentation - need JS plugin to expand collapsed navbar 
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"> 
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> 
    </div>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
       <ul class="nav navbar-nav" id="nav-links">
        @if (User.Identity.IsAuthenticated)
         @* { *@
          <p class="active">@Html.ActionLink("Home", "Index", "Home")</p>
          @using (Html.BeginForm("LogOff", "Account"))
         @* { *@
            <p>@Html.ActionLink("Logout", "Index", "Home")</p>
            <button type="submit" class="btn btn-default">Log Out</button>
          @* }
        } *@
        else
        {
          <p class="active">@Html.ActionLink("Home", "Index", "Home") | @Html.ActionLink("Register", "Register", "Account") | @Html.ActionLink("Log in", "Login", "Account")</p>
        } 
      </ul>
    </div><!-- /.navbar-collapse --> 
  </div><!-- /.container-fluid -->
</nav>  *@
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="@Html.ActionLink("Home", "Index", "Home")">Home</a>
          <a class="dropdown-item" href="@Html.ActionLink("Log in", "Login", "Account">Login</a>
          <a class="dropdown-item" href="@Html.ActionLink("Register", "Register", "Account")">Register</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Log Out</a>
        </div>
      </li>
    </ul>
    
  </div>
</nav> 
  <div class="container">
    @RenderBody()    
  </div>
</body>
</html>
 
