@{
  Layout = "_Layout";
}

@model SaferSpacesClient.Models.Place

<div class="register-form input-style-register">

<h1>Add a Testimonial for this Venue</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.Place_Id, new { place_id = @Model.Place_Id })

  @Html.DisplayFor(model => model.Story)
  @Html.TextBoxFor(model => model.Story)

  @Html.DisplayFor(model => model.Management)
  @Html.TextBoxFor(model => model.Management)

  @Html.DisplayFor(model => model.Other)
  @Html.TextBoxFor(model => model.Other)

  <input type="submit", value="Save"/>
}
@* @Html.HiddenFor(model => model.title, 
                new { id= "natureOfVisitField", Value = @Model.title}) *@

@* @Html.HiddenFor(model => model.title, new { id= "natureOfVisitField" }) *@


@* <form action="/addtestimonials" method="post">  

  @Html.HiddenFor(model => model.Place_Id)

  <label for="story">Tell your story:</label>
  <input id="story" class="form-control mr-sm-2" Story="story" type="text">

  <label for="management">Did management get involved and were they helpful?</label>
  <input id="management" class="form-control mr-sm-2" Story="management" type="text">

  <label for="other">Is there anything else people should know?</label>
  <input id="other" class="form-control mr-sm-2" Story="other" type="text">

  <button type="submit" class="btn btn-primary">Submit this Testimonial</button>

</form>

</div> *@