@{
  Layout = "_Layout";
}

<h1>Places Index</h1>

<ol>
@foreach (Place place in Model)
{
    <ul>
        <li>@Html.ActionLink($"{@place.Name}", "Details", new {id = @place.Place_Id})</li>
        <li>@place.Formatted_Address</li>
        <li>@String.Join(", ", place.Types)</li>
        @* <li>@using (Html.BeginForm("Create", "Places"))
            {
                @Html.Hidden("Name", $"{@place.Name}")
                @Html.Hidden("Address", $"{@place.Formatted_Address}")
                @Html.Hidden("Type", "Bar")
                <input type="submit" value="Save and Add Details"/>
            }
        </li> *@
    </ul>
    <br>
}
</ol>


@* @{
  Layout = "_Layout";    TEMPLATE
}

@using SaferSpacesClient.Models;
@model IEnumerable<SaferSpacesClient.Models.Item>

<h1>Items for @User.Identity.Name</h1>



@if (Model.Any())
***Any() will return true if the Model contains *any* items

{
  <ul>
    @foreach (Place place in Model)
    {
      <li>@Html.ActionLink($"{place.Name}", "Details", new { id = place.PlaceId })</li>
    }
  </ul>
} 
else
{
  <h3>No places have been added yet!</h3>
}

<p>@Html.ActionLink("Add new place", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p> *@