@{
  Layout = "_Layout";
}

@* PROBABLY DON'T NEED / WANT THIS PAGE ??? *@

@using System.Security.Claims 
@* gives access to User.Identity properties such as IsAuthenticated and Name *@

<h2>Authentication with Identity</h2>
<hr />

@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <button type="submit" class="btn btn-default">Log Out</button>
  }
}
else
{
  <button>@Html.ActionLink("Register", "Register")</button>
  <button>@Html.ActionLink("Log in", "Login")</button>
}

<button>@Html.ActionLink("Register", "Register")</button>
<button>@Html.ActionLink("Home", "Index", "Home")</button>